    /* || INSERT GOOGLE FONT  */
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik+Burned&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Protest+Strike&family=Rubik+Burned&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@500&family=Rubik+Burned&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato&display=swap');

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

            :root {
        /* || FONTS */
        --SPACIAL-FF: 'Dancing Script', cursive;
        --SPACIAL-FF2: 'system-ui';

        --FF-CAPTION: 'Protest Strike', sans-serif;

        --LINK-FF: 'Oswald', sans-serif;

        --ABT-FONT: "Kanit";

        /* || COLORS */
        --INFO-MAIL-COLOR: #000;
        --INFO-BGCOLOR: rgb(237, 232, 232);
        --LIGHT-COLOR: #fff;
            /* Nav color */
        --NAV-BACK-COLOR: #333;
        --NAV-LINE-BACK: hsl(39, 93%, 45%);

        /* header content */
        --ORANGE-COLOR: rgb(228, 151, 6); 
    }

    .header-cont  {
        background-color: var(--INFO-BGCOLOR);
        color: var(--INFO-MAIL-COLOR);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .cont-hd__logoName {
        padding: 8px;
        background-color: hsl(39, 100%, 45%);
        color: var(--LIGHT-COLOR);
    }

    .letter-big {
        font-size: 50px;
    }

    .logo-name {
        font-weight: bolder;
        font-size: 35px;
        border: 2px solid var(--LIGHT-COLOR);
        padding: 10px 95px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .cont-hd__mail, 
    .cont-hd__call {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    /* || NAVIGATION BAR */
    .inner-nav ul {
        list-style-type: none;
        display: block;
    }

    .inner-nav li {
        padding: 0 1rem;
        display: inline-block;
    }

    .inner-nav li a{
        display: inline-block;
        text-decoration: none;
        color: var(--LIGHT-COLOR);
        padding: 1rem 0.3rem;
        font-size: larger;
        font-family: var(--LINK-FF);
        position: relative;
    }

    .inner-nav {
        display: flex;
        justify-content: space-around;
        position: sticky;
        top: 0;
    }

    .navbar {
        position: sticky;
        top: 0;
        background-color: var(--NAV-BACK-COLOR);
        z-index: 1;
    }

    .navbar li a::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 3px;
        background-color: orange;
        bottom: 8px;
        left: 0;
        z-index: 1;
    }

    .navbar a:hover::after,
    .navbar a:focus::after {
        transition: 0.4s;
        width: 100%;
    }

    .navbar a:hover {
        color: var(--ORANGE-COLOR);
        transition: 1.3s;
    }

    .signup-btn a{
        padding: 10px 13px;
        /* background-color: hsl(158, 94%, 36%); */
        background-color: #20B2AA;
        color: var(--LIGHT-COLOR);
        font-family: var(--FF-CAPTION);
        text-decoration: none;
        opacity: 0.8;
    }

    .signup-btn a:hover {
        opacity: 1;
    }

    .logout-btn a {
        padding: 10px 13px;
        background-color: hsl(0, 95%, 63%);
        color: var(--LIGHT-COLOR);
        font-family: var(--FF-CAPTION);
        text-decoration: none;
        opacity: 0.8;
        border-radius: 10px;
    }

    .my_account a {
        display: inline-block;
        background-color: rgb(76, 76, 182);
        padding: 8px 12px;
        color: #fff;
        font-family: var(--ABT-FONT);
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        border-radius: 10px;
    }

    .my_account button {
        border: none;
    }