/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik+Burned&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Protest+Strike&family=Rubik+Burned&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@500&family=Rubik+Burned&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato&display=swap');



* {
    box-sizing: border-box;
}

:root {
  /* || FONTS */
  --SPACIAL-FF: 'Dancing Script', cursive;
  --SPACIAL-FF2: 'system-ui';

  --FF-CAPTION: 'Protest Strike', sans-serif;

  --LINK-FF: 'Oswald', sans-serif;

  --ABT-FONT: "Kanit";

  /* || COLORS */
  --INFO-MAIL-COLOR: #000;
  --INFO-BGCOLOR: rgb(237, 232, 232);
  --LIGHT-COLOR: #fff;
      /* Nav color */
  --NAV-BACK-COLOR: #333;
  --NAV-LINE-BACK: hsl(39, 93%, 45%);

  /* header content */
  --ORANGE-COLOR: rgb(228, 151, 6); 
}


body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}




.service-header-container {
    display: flex;
}

.image-slider-cont {
    /* width: 100%; */
    /* height: 20vh; */
    flex: 60%;
}

.service_nav_bar {
    flex: 40%;
}


/*************** SERVICE NAV BAR ****************/
.navbar_inner ul {
  display: flex;
  flex-direction: column;
}

.navbar_inner li{
  list-style-type: none;
}

.navbar_inner li a {
  display: block;
  text-decoration: none;
  /* font-family: var(--FF-CAPTION); */
  padding: 1em;
  margin: 0.5em;
  background-color: rgba(221, 147, 8, 0.7) ;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.navbar_inner li a:hover {
  background-color: rgba(221, 147, 8, 1);
  transition: 0.5s;
}


/************ SERVICE TOPIC **************/
.service_header_topic {
  height: 20vh;
  text-align: center;
  margin: 3em 0 1em 0;
}
.service_header_topic h1 {
  font-family: var(--FF-CAPTION);
  color: var(--NAV-LINE-BACK);
  font-size: 3em;
  text-decoration: underline var(--ORANGE-COLOR);
}


/*********** SERVICE CARDS *************/
.service_inner_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 1em;
  box-shadow: 10px 4px 15px gray;
}

.service_content_details {
  flex: 80%;
}

.service_image_cont {
  flex: 20%;
}

.service_image_cont img {
  /* width: 400px; */
  height: 200px;
  /* position: relative; */
}

.service_content_details {
  padding: 0.7em;
}

.pack_btn a {
  text-decoration: none;
  display: block;
  padding: 0.8em 1.3em;
  background-color: rgba(221, 147, 8, 0.8);
  color: var(--LIGHT-COLOR);
  font-family: var(--ABT-FONT);
  font-weight: 700;
}

.pack_btn a:hover {
  background-color: rgba(221, 147, 8, 1);
}

.ser_img {
  position: relative;
}

.pack_btn button {
  border: 1px solid var(--ORANGE-COLOR);
  position: absolute;
  bottom: -10px;
  left: 35%;
} 

.services__secction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}