/* || INSERT GOOGLE FONT  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik+Burned&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Protest+Strike&family=Rubik+Burned&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@500&family=Rubik+Burned&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: var(--LIGHT-COLOR);
    padding: 0;
    margin: 0;
}

:root {
    /* || FONTS */
    --SPACIAL-FF: 'Dancing Script', cursive;
    --SPACIAL-FF2: 'system-ui';

    --FF-CAPTION: 'Protest Strike', sans-serif;

    --LINK-FF: 'Oswald', sans-serif;

    --ABT-FONT: "Kanit";

    /* || COLORS */
    --INFO-MAIL-COLOR: #000;
    --INFO-BGCOLOR: rgb(237, 232, 232);
    --LIGHT-COLOR: #fff;
        /* Nav color */
    --NAV-BACK-COLOR: #333;
    --NAV-LINE-BACK: hsl(39, 93%, 45%);

    /* header content */
    --ORANGE-COLOR: rgb(228, 151, 6); 
}

/* .header-cont  {
    background-color: var(--INFO-BGCOLOR);
    color: var(--INFO-MAIL-COLOR);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cont-hd__logoName {
    padding: 8px;
    background-color: hsl(39, 100%, 45%);
    color: var(--LIGHT-COLOR);
}

.letter-big {
    font-size: 50px;
}

.logo-name {
    font-weight: bolder;
    font-size: 35px;
    border: 2px solid var(--LIGHT-COLOR);
    padding: 10px 95px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cont-hd__mail, 
.cont-hd__call {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/* || NAVIGATION BAR */
/* .inner-nav ul {
    list-style-type: none;
    display: block;
}

.inner-nav li {
    padding: 0 1rem;
    display: inline-block;
}

.inner-nav li a{
    display: inline-block;
    text-decoration: none;
    color: var(--LIGHT-COLOR);
    padding: 1rem 0.3rem;
    font-size: larger;
    font-family: var(--LINK-FF);
    position: relative;
}

.inner-nav {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: var(--NAV-BACK-COLOR);
    z-index: 1;
}

.navbar li a::after {
    content: ""; 
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: orange;
    bottom: 8px;
    left: 0;
    z-index: 1;
}

.navbar a:hover::after,
.navbar a:focus::after {
    transition: 0.4s;
    width: 100%;
}

.navbar a:hover {
    color: var(--ORANGE-COLOR);
    transition: 1.3s;
} */

/* || IMAGE */

.moto-img {
    width: 100%;
    height: 78vh;
}

.image {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.moto-cont {
    background-color: #000;
}

.content {
    position: absolute;
    top: 40%;
    margin: 1em;
}

.content h1 {
    color: var(--LIGHT-COLOR);
    font-size: 50px;
    font-weight: bolder;
    font-family: var(--SPACIAL-FF2);
}

.content h2 {
    color: var(--ORANGE-COLOR);
    font-size: 40px;
    font-family: var(--LINK-FF);

}

.content p {
    color: var(--LIGHT-COLOR);
}


.content h1,
.content h2,
.content p {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: DisplayCont 1.2s forwards;
}

.content h2 {
    animation-delay: 1.3s;
}

@keyframes DisplayCont {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

/* || About part */
.about-cont {
    width: 100%;
    height: 100%;
}

.about-cont .inner-about {
    text-align: center;
    padding: 5.6em 0 5.0em 0;
}

#headabt{
   color: var(--ORANGE-COLOR); 
   font-family: var(--SPACIAL-FF2);
   
}

#abtsecondhd {
    font-size: 3.3rem;
    color: var(--LIGHT-COLOR);
    font-family: var(--LINK-FF); 
    position: relative;
    text-decoration: underline;
}

/* || about inner grid */

/* .about-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        'inabt inabt inabt'
        'abtimg abthd abthd'
        'abtimg abtawd abtawd'
        'abtimg abtwork abtwork';
}

.inner-about { grid-area: inabt; }
.abtimage { grid-area: abtimg; }
.abt-heading-cont { grid-area: abthd; }
.abt-awd { grid-area: abtawd; }
.abt-workEP { grid-area: abtwork; }

.abt-heading-cont, 
.abt-awd,
.abt-workEP {
    margin-left: 1em;
    padding-left: 1em 1em 0 ;
} */

/* .about-cont {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        'inabt inabt',
        'abtimg abtcontain',
        'abtimg abtcontain';
}

.inner-about { grid-area: inabt; }
.abtimage { grid-area: abtimg; }
.about_container { grid-area: abtcontain; }

.abtimage {
    background-image: url("/img/image4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    margin: 1em;
} */

.about-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        'inabt inabt'
        'abtimg abtcontain'
        'abtimg abtcontain';
}

.inner-about { grid-area: inabt; }
.abtimage { grid-area: abtimg; }
.about_container { grid-area: abtcontain; }

.abtimage {
    background-image: url("image5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 65vh;
    margin: 0.5em;
    padding: 0.3em;
}

.about_container {
    margin: 1em;
}



.about__content__para {
    display: flex;
    padding-top: 1.3rem;
    margin: 0.8em;
}

.para1, .para2 {
    flex: 50%;
    font-family: var(--ABT-FONT);
}

.para2 { padding-left: 0.7rem; }

.about__content__para p {
    font-size: 1rem;
}

/* STYLING ORANGE BOX  */
.orangebox {
    width: 4rem;
    height: 4rem;
    background-color: var(--ORANGE-COLOR);
    display: grid;
    justify-content: center;
    align-items: center;
}

.orangebox__inner {
    width: 3rem;
    height: 3rem;
    border: 3px solid var(--LIGHT-COLOR);
}

.abt-heading-cont {
    margin: 0.4em;
}

@media screen and (max-width: 800px) {
    .about-cont {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        grid-template-rows: auto;
        grid-template-areas: 
            'inabt '
            'abtimg'
            'abtcontain';
    }
}

/* || ABOUT SCROLL EFFECT */
.abt-heading-cont h2{
    font-size: 30px !important;
    font-family: var(--ABT-FONT);
}

.abt-heading-cont p {
    font-size: large;
    font-family: var(--ABT-FONT);
}

.abt-heading-cont span {
    color: hsl(0 0% 100% / 0.2);
    background-image: linear-gradient(90deg, red, blue);
    background-clip: text;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    animation: scrollAbt linear forwards;
    animation-timeline: view();
}

.abt-heading-cont h2 span {
    animation-range-start: 8vh;
    animation-range-end: 20vh;
}

.abt-heading-cont p span {
    animation-range-start: 30vh;
    animation-range-end: 53vh;
}


@keyframes scrollAbt {
    to {
        background-size: 100% 100%;
    }
}



.scroll-txt span{ 
    color: hsl(0 0% 100% / 0.2);
    /* background-image: linear-gradient(90deg, blue,red); */
    background-image: linear-gradient(90deg, white, white);
    background-clip: text;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    animation: scrollAbt linear forwards;
    animation-timeline: view();
}

.scroll-txt h2 span {
    animation-range-start: 20vh;
    animation-range-end: 25vh;

}

.scroll-txt p span {
    animation-range-start: 23vh;
    animation-range-end: 38vh;
}


/*********** OFFER PART ************/

.offer-cont {
    margin-top: 1.5em;
    width: 100%;
    /* height: 30vh; */
    background-image: url("bg.jpg");
}
.offer-header h1 {
    font-family: var(--ABT-FONT);
    color: var(--ORANGE-COLOR);
    text-align: center;
    font-size: 5em;
    padding: 0.6em;
}

/******** SERVICE CARD **********/
.service_card_container {
    width: 100%;
    /* height: 100vh; */
}



















/* .offer-card-cont {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        'cd1 cd2 cd3'
        'cd4 cd5 cd6';
    background-image: url("/HomePage/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2em;
} 

.card {
    width: 19em;
    margin: 1em;
}

.card .card-img {
    background-image: url("/HomePage/img/image4.jpg");
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card4, .card5, .card6 {
    margin-top: 5em;
}

.offer-header {
    font-family: var(--ABT-FONT);
    text-align: center;
    margin: 5em;
    font-size: 30px;
    position: relative;
}

.offer-header h1 {
    text-decoration: underline orange;
}

.card-inner-cont {
    text-align: center;
    padding: 0.3em;
    border: 2px solid var(--ORANGE-COLOR);
    background-color: var(--NAV-BACK-COLOR);
}

.card-inner-cont .box {
    border: 2px solid var(--LIGHT-COLOR);
    padding: 1em;
}

.card1 { grid-area: cd1; }
.card2 { grid-area: cd2; }
.card3 { grid-area: cd3; }
.card4 { grid-area: cd4; }
.card5 { grid-area: cd5; }
.card6 { grid-area: cd6; }

@media screen and (max-width: 900px) {
    .offer-card-cont {
        grid-template-areas: 
        'cd1 cd2'
        'cd3 cd4'
        'cd5 cd6';
        justify-content: center;
        align-items: center;
        place-items: center;
        text-align: center;
        padding-left: 4.2em;
    }
    
}

@media screen and (max-width: 650px) {
    .offer-card-cont {
        grid-template-areas: 
        'cd1'
        'cd2'
        'cd3'
        'cd4'
        'cd5'
        'cd6';
        justify-content: center;
        align-items: center;
        place-items: center;
        text-align: center;
        padding-left: 4.2em;
    }
    
} */

/* Read More button */
/* .card-inner-cont {
    position: relative;
}
.morebtn {
    position: absolute;
    left: 6.5em;
    bottom: -35px;
    border: 1px solid var(--ORANGE-COLOR);
}

.morebtn a {
    display: block;
    text-decoration: none;
    color: var(--LIGHT-COLOR);
    background-color: var(--NAV-BACK-COLOR);
    padding: 11px 12px;
    font-family: var(--ABT-FONT);
} */
/* 
.morebtn a:hover {
    background-image: radial-gradient(90deg, orange, red);
    background-color: var(--ORANGE-COLOR);
    transition: 0.6s;
} */






/**************** CLIENTS/BRANDS  *******************/
.brand-abt {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

.brand-abt > * {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: DisplayScroll 1.2s forwards;
    animation-timeline: view();
    /* animation-range-start: 32vh; */
    animation-range-end: 33.7vh;
}

@keyframes DisplayScroll {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}



/************||FOOTER***********/
footer{
    background-color: #000000ff;
    position:relative;
    width: 100%;
    min-height: 150px;
    padding: 3rem 1rem;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.col{
    min-width: 250px;
    color: #f2f2f2f2;
    font-family: poppins;
    padding: 0 2rem;
}
.links ul{
    list-style-type: none;
}
img{
    width: 50%;
    height:50%;
}
@media(max-width:900px)
{
   .row{
    flex-direction: column;
   }
   .col{
    width:100%;
    text-align: center;
    
    margin-bottom: 25px;
   }

}
   .col h3{
    color: aqua;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;

   }
   .col .logo{
    width: 100px;
    margin-bottom: 25px;
   }
   .col h3::after{
    content:"";
    height: 3px;
    width: 0px;
    background-color: aqua;
    position: absolute;
    bottom: 0;
    left:0;
    transition: 0.3s ease;
   }
   .col h3:hover::after{
    width: 30px;
   }
   .col .social a i{
    color: aqua;
    margin-top: 2rem;
    margin-right: 5px;
    transition: 0.3s ease;
   }
   .col .social a i:hover{
    transform: scale(1.5);
    filter:grayscale(25);
   }
   .col .links a{
    display: block;
    text-decoration: none;
    color: aqua;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
   }
   .col .links a:before{
    content: '';
    height: 16px;
    width: 5px;
    position: absolute;
    top:5px;
    left:-10px;
    background-color:aquamarine;
    transition: 0.5s ease;
    opacity: 0;
   }
   .col .links a:hover::before{
    opacity: 1;
   }
   .bottom-bar{
    color: black;
    background-color: aqua;
    
    width: 100%;
   }
   .bottom-bar p{
    text-align: right;
   }


   