@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik+Burned&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Protest+Strike&family=Rubik+Burned&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@500&family=Rubik+Burned&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato&display=swap');

:root {
    /* || FONTS */
    --SPACIAL-FF: 'Dancing Script', cursive;
    --SPACIAL-FF2: 'system-ui';

    --FF-CAPTION: 'Protest Strike', sans-serif;

    --LINK-FF: 'Oswald', sans-serif;

    --ABT-FONT: "Kanit";

    /* || COLORS */
    --INFO-MAIL-COLOR: #000;
    --INFO-BGCOLOR: rgb(237, 232, 232);
    --LIGHT-COLOR: #fff;
    --DARK-ORANGE: rgba(225, 129, 20, 0.8);
        /* Nav color */
    --NAV-BACK-COLOR: #333;
    --NAV-LINE-BACK: hsl(39, 93%, 45%);

    /* header content */
    --ORANGE-COLOR: rgb(228, 151, 6); 
}

.user_interface_container {
    display: flex;

}

.user_side_bar {
    flex: 30%;
    height: 79vh;
    background-color: lightgrey;
}

.user_details {
    flex: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.details_cont_user {
   box-shadow: 10px 5px 14px lightgray;
    padding: 1.5rem;
    border-radius: 20px;
    margin: 3em;
}
.details_cont_user h4 {
    text-align: center;
    padding: 0.6em;
    background-color: #c2d7ff;
    border-radius: 10px;
    font-family: var(--ABT-FONT);
    color: blue;
    border: 1px solid blue;
}
.details_cont_user p {
    margin-bottom: 0.5rem;
    color: var(--LIGHT-COLOR);
    background-color: var(--DARK-ORANGE);
    padding: 0.4em;
    border-radius: 10px;
    font-family: var(--ABT-FONT);
}

.details_cont_user p{
    margin-top: 0.4em;
}
.details_cont_user p:hover {
    background-color: rgba(225, 129, 20, 1);
    transition: 0.5s;
}

.style_inner_pic {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    /* background-image: url("img/homeimg/image1.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.style_inner_pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user_profile_pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* box-shadow: 10px 10px 5px 12px lightblue; */
}

/****** Profile edit button *******/
.edit_profile a {
    display: inline-block;
    padding: 1em 1.3em;
    background-color: var(--ORANGE-COLOR);
    background-color: #333;
    text-decoration: none;
    font-family: var(--FF-CAPTION);
    color: var(--LIGHT-COLOR);
}

.edit_profile a:hover{
    background-color: var(--DARK-ORANGE);
    transition: 0.5s;
}
.Detailsedit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 750px) {
    .user_interface_container {
        flex-direction: column;
    }

    .user_profile_pic {
        flex-direction: column;
    }
}


/********* CUSTOMER INFORMATION TABLE ***********/
.customer_info_container{
    /* width: 100%; */
    padding: 3em;
    box-shadow: 10px 5px 14px lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

body {
    height: 200vh;
}


.customer_info_table table{
    /* width: 100%; */
    width: 50rem;
    border-collapse: collapse;
    padding: 3em 5em;
    /* background-color: rgba(0, 0, 255, 0.3); */
    /* margin-bottom: 1em; */
}

.User_Admin_details_container_crud {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.customer_info_table table th, td {
    padding: 0.3em 1em;
    /* margin-bottom: 1em; */
    font-family: var(--ABT-FONT);
}

.customer_info_table h2 {
    text-align: center;
    color: var(--ORANGE-COLOR);
    font-family: var(--ABT-FONT);
    margin-bottom: 0.6rem;
}

.edit_btn, .remove_btn {
    display: inline-block;
    text-decoration: none;
    color: var(--LIGHT-COLOR);
    padding: 6px 13px;
    border-radius: 5px;
    font-family: var(--ABT-FONT);
    font-size: 300;
}

.edit_btn {
    background-color: rgb(220, 204, 29);
}


.remove_btn {
    background-color: rgb(214, 14, 14);
}

.edit_btn:hover {
    background-color: rgba(220, 204, 29, 0.8);
}
.remove_btn:hover {
    background-color: rgba(214, 14, 14, 0.8);
}

.create__btn {
    display: inline-block;
    text-decoration: none;
    color: var(--LIGHT-COLOR);
    padding: 6px 13px;
    border-radius: 5px;
    font-family: var(--ABT-FONT);
    font-size: 300;
    
}

.customer_info_container {
    background-color: rgb(241, 239, 239);
}