.main-container {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 0.6fr 3fr 2fr; */
    grid-template-areas: 
        'moto'
        'about'
        'offer'
        'brand'
        'testimonial'
        'footer';
}

.item1 {
    background-color: #a7ffeb;
    grid-area: moto;
}
.item2 {
    background-color: #84fffd;
    grid-area: about;
}
.item3 {
    background-color: #90e6e6;
    grid-area: offer;
}
.item4 {
    background-color: #a7ffeb;
    grid-area: brand;
}
.item5 {
    background-color: #2af381;
    grid-area: testimonial;
}
.item6 {
    background-color: #2da98c;
    grid-area: footer;
}