@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik+Burned&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Protest+Strike&family=Rubik+Burned&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@500&family=Rubik+Burned&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato&display=swap');

:root {
    /* || FONTS */
    --SPACIAL-FF: 'Dancing Script', cursive;
    --SPACIAL-FF2: 'system-ui';

    --FF-CAPTION: 'Protest Strike', sans-serif;

    --LINK-FF: 'Oswald', sans-serif;

    --ABT-FONT: "Kanit";

    /* || COLORS */
    --INFO-MAIL-COLOR: #000;
    --INFO-BGCOLOR: rgb(237, 232, 232);
    --LIGHT-COLOR: #fff;
        /* Nav color */
    --NAV-BACK-COLOR: #333;
    --NAV-LINE-BACK: hsl(39, 93%, 45%);

    /* header content */
    --ORANGE-COLOR: rgb(228, 151, 6); 
}

.signup-container h2 {
    margin-bottom: 1em;
}

.signup-container input[type=submit] {
    width: 12em;
}

.success-alert {
    margin-bottom: 3em;
}

.new_acc {
    text-align: center;
    margin-bottom: 2.5rem;
}

.new_acc a {
    color: blue;
}

.remember-terms {
    text-align: center;
}

.welcom-msg {
    color: var(--ORANGE-COLOR);
}

