/* || INSERT GOOGLE FONT  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik+Burned&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Protest+Strike&family=Rubik+Burned&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@500&family=Rubik+Burned&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato&display=swap');

body {
  font-family: Arial, sans-serif;
  background-image: url("call-center-woman-smile-portrait-260nw-2305703987.webp " );
  background-size: cover;
}

:root {
  /* || FONTS */
  --SPACIAL-FF: 'Dancing Script', cursive;
  --SPACIAL-FF2: 'system-ui';

  --FF-CAPTION: 'Protest Strike', sans-serif;

  --LINK-FF: 'Oswald', sans-serif;

  --ABT-FONT: "Kanit";

  /* || COLORS */
  --INFO-MAIL-COLOR: #000;
  --INFO-BGCOLOR: rgb(237, 232, 232);
  --LIGHT-COLOR: #fff;
      /* Nav color */
  --NAV-BACK-COLOR: #333;
  --NAV-LINE-BACK: hsl(39, 93%, 45%);

  /* header content */
  --ORANGE-COLOR: rgb(228, 151, 6); 
}

.phonecall-info h2{
  color: var(--ORANGE-COLOR);
  font-family: var(--ABT-FONT);
  font-size: 900;
}

.phonecall-info ul li {
  color: var(--LIGHT-COLOR);
}

.first {
  
  display: flex;
  justify-content: space-between;
}
.phonecall-info.{
  background-color: rgba(245, 245, 220, 0.234);
  width:48% ;
  color: #1a1010;
} .phonecall-form {
  background-color: rgba(151, 158, 164, 0.352);
  width: 48%;
  
}
.phonecall-info h2, .contact-form h2 {
  margin-bottom: 20px;
}
.phonecall-info ul {
  list-style: none;
  padding: 0;
}
.phonecall-info ul li {
  margin-bottom: 10px;
}
.phonecall-form form {
  background-color:rgba(211, 211, 211, 0.314);
  display: flex;
  flex-direction: column;
}
.phonecall-form form label {
  margin-bottom: 8px;
}
.phonecall-form form input {
  margin-bottom: 25px;
  padding: 10px;
  border: 2px solid #742222;
  border-radius: 10px;
}
.phonecall-form form button {
  padding: 15px 25px;
  border: aquamarine;
  border-radius: 10px;
  background-color: #007bff;
  color: rgb(54, 10, 156);
  cursor: pointer;
}
.phonecall-form form button:hover {
  background-color: #0056b3;
}
.phonecall-form form textarea{
  padding: 50px;
}